<!DOCTYPE html>
<html>
  <head>
    <title>Webchat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="blue lighten-5">
  <div class="body-wrapper">
    <div id="maincontent" class="center">
      <h3 id="title">Chatroom</h3>
      <p> You are logged in as {{> user}} </p>
      <form action="/logout" name="logout" method="get">
          <input type="submit" value="Logout" class="waves-effect waves-light btn">
      </form>
    </div>
  </div>
  </body>
</html>
