<!DOCTYPE html>
<html>
  <head>
    <title>Webchat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="blue lighten-5">
  <div class="body-wrapper">
    <div id="maincontent" class="center">
      <h3 id="title">Login</h3>
      <div class="row valign-wrapper">
        <div class="col s12 m8 l3 " id="formplacement">
          <form action="/" name="login" method="post">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" name="username" placeholder="Username"  required="true" class="center">
            <i class="material-icons prefix">https</i>
            <input type="password" name="password" placeholder="Password" required="true" class="center">
            <input type="submit" value="Login" class="waves-effect waves-light btn">
          </form>
        </div>
      </div>
      <a href="/register" class="waves-effect waves-light btn">Register</a>
    </div>
  </div>
  </body>
</html>
