<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-blue.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="mdl-color--blue-100">
  <div class="body-wrapper">
    <div id="maincontent">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col" id="formplacement">
          <h3 id="title" class="mdl-color-text--grey-800">Login</h3>
          <form action="/" name="login" method="post">
            <div class="mdl-textfield mdl-js-textfield">
              <i class="material-icons prefix">account_circle</i>
              <input type="text" name="username" required="true" class="mdl-textfield__input mdl-color-text--grey-800" id="Username">
              <label class="mdl-textfield__label mdl-color-text--grey-800" for="Username">Username</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
              <i class="material-icons prefix">https</i>
              <input type="Password" name="username" required="true" class="mdl-textfield__input mdl-color-text--grey-800" id="Password">
              <label class="mdl-textfield__label mdl-color-text--grey-800" for="Password">Password</label>
            </div>
            <div id="submitDiv">
              <input type="submit" value="Login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--grey-800">
            </div>
          </form>
          <a href="/register" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--grey-800" id="registerButton">Register</a>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
