
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.body-wrapper {
  width: 100%;
  height: 100vh;
}
/*Centers content*/
#maincontent{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#formplacement{
  margin: 0 auto;
  padding:20px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#userButton{
  width: 35%;
}
/*removes scrollbar*/
h3 {
  margin: 0;
  padding: 0;
}
/*spacing between input and title*/
#title{
  margin-bottom:2%;
}

#submitDiv{
  margin-bottom: 5%;
}
.mdl-textfield.is-invalid .mdl-textfield__input{
  border-color: rgba(0,0,0,.26) !important;
}
#Username,#Password,#RepeatPassword{
  text-align: center;
}

#chatroomButton, #logoutButton{
  margin-right: 5px;
  float: right;
}

#adminTitle{
  text-align: center;
}
table{
  border-collapse: collapse;
  table-layout: fixed;
}
.reports{
  margin-left: auto;
  margin-right: auto;
}
.bans{
  width: 80.8%;
  margin-right: auto;
  margin-left: auto;
}
.adminTables{
  background: white;
  margin-top: 1%;
}
.adminButtons{
  padding: 2px;
  height: 60px;
  margin-right: 5px;
  line-height: 14px;
}

th{
  font-size: 22px;
}

.reportReason{
  word-wrap: break-word;
  max-width: 300px;
}
