
* {
 margin: 0;
 padding: 0;
}

.body-wrapper {
  width: 100%;
  height: 100vh;
}
/*Centers content*/
#maincontent{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#formplacement{
  margin: 0 auto;
}
/*removes scrollbar*/
h3 {
  margin: 0;
  padding: 0;
}
/*spacing between input and title*/
#title{
  margin-bottom:2%;
}

#submitDiv{
  margin-bottom: 5%;
}
.mdl-textfield.is-invalid .mdl-textfield__input{
  border-color: rgba(0,0,0,.26) !important;
}
#Username,#Password{
  text-align: center !important;
}
