.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#contentArea{
  overflow: hidden;
}
/*Correct color for loginpage, Refactoring where header and buttons will be changed incoming someday.
#header{
  background-color: #BBDEFB;
  Font color: #424242
}*/
#searchField{
  width: 200px;
  margin-top: -6.5%;
}

#logout {
  background-color: rgb(63,110,190);
}

#advert{
  height: calc(100vh - 62px);
}

#verticalAd {
  width: 100%;
  height: 100%;
}

#mobileAd{
  position: fixed;
  width: 100%;
  bottom: 0;
}

#premiumConfirm{
  position: absolute;
    text-align: center;
    background: #3F51B5;
    right: 0;
}

#premiumText{
  margin-top: 5px;
  color: white;
}

#premiumButtonAccept,#premiumButtonDecline{
  margin-bottom:5%;
  margin-left: 2%;
  margin-right: 2%;
}

#premiumButtonAccept{
  background-color: rgb(63,110,190);
}
